<strong>Samsung Smart Phones</strong>
<div class="container-samsung">
    <div *ngFor="let samsung of vivoPhones" class="samsung">
    <mat-card>
    <img src={{samsung.thumbnail}} alt="">
    <mat-card-subtitle>{{samsung.name}}</mat-card-subtitle>
    <mat-card-subtitle>KES:{{priceChanger(samsung.price)}}</mat-card-subtitle> 
     <div *ngIf="samsung.specialPrice != null">
    <del>KES:{{samsung.specialPrice}}</del>
    <p style="color: red;font-weight: bolder;">
    {{discountCalc(samsung.price,samsung.specialPrice)}}% OFF
    </p>
     </div>
    <button mat-stroked-button style="color: green;border-color: green;">Add to cart</button>
    <button mat-flat-button class="btn">Buy Now</button>
    </mat-card>
    
    
    </div>
    
    
    </div>