<strong>Samsung Smart Phones</strong>
<div class="container-samsung" *ngIf="fetched">
    <div *ngFor="let samsung of vivoPhones" class="samsung">
    <mat-card >
    <img src={{samsung.thumbnail}} alt=""  (click)="Navigator(samsung.urlPath)">
    <mat-card-subtitle>{{samsung.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="samsung.specialPrice == null">KES:{{priceChanger(samsung.price)}}</mat-card-subtitle> 
    <mat-card-subtitle *ngIf="samsung.specialPrice != null">KES:{{priceChanger(samsung.specialPrice)}}</mat-card-subtitle> 
     <div *ngIf="samsung.specialPrice != null">
    <del>KES:{{samsung.price}}</del>
    <p style="color: red;font-weight: bolder;">
    {{discountCalc(samsung.price,samsung.specialPrice)}}% OFF
    </p>
     </div>
    <button mat-stroked-button style="color: green;border-color: green;" (click)="Save_To_Cart(samsung.urlPath)">Add to cart</button>
    <button mat-flat-button class="btn" (click)="cart(samsung.urlPath)">Buy Now</button>
    </mat-card>
    
    
    </div>
    
    
    </div>


    <div *ngIf="!fetched">
    <ngx-skeleton-loader/>
    </div>