<mat-card-title style="text-align: center;">Why Shop with Us</mat-card-title>
<mat-card class="footer">

<div>
 <img src="../../../assets/genuine.webp" alt="">  
<strong>GUARANTEED PRODUCT QUALITY</strong>
<p>
No fake products with money back guarantee
<br>
Instant returns on unsatisfactory products<br> upon delivery
</p>
</div>

<div>
<img src="../../../assets/delivery-guarantee.webp" alt="">  
<strong>FAST RELIABLE DELIVERIES</strong>
<p>
Same day delivery promise within Nairobi,<br>Mombasa,Nakuru,Kisumu
<br>
Selected pickup points for convenience
</p>
</div>

<div>
<img src="../../../assets/years-of-trust.webp" alt="">  
<strong>PERSONALIZED FOR YOU</strong>
<p>
Pay with debit card, M-PESA or credit card
<br>
Compare products for easy purchase
<br>
Get digital assistance in your purchase
</p>
</div>

</mat-card>