


<!-- my carousel -->






  <mat-drawer-container class="example-container" hasBackdrop="true" autosize>
    <mat-drawer #drawer mode="over">
       <nav-options></nav-options>
    </mat-drawer>
  <mat-drawer-content>
    <mat-card class="head">
      <mat-card-title (click)="home()"><img src="../../../assets/TechWave.png" alt=""></mat-card-title>
      <div class="categories-large">
      <mat-icon (click)="drawer.toggle()">category</mat-icon>
      <span>Categories</span>
      </div>
      
      <mat-form-field>
      <mat-label>What are you looking for?</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input type="text" matInput style="border-color: green;" [(ngModel)]="deviceSearch" (keyup)="fetchSearch()" />
      </mat-form-field>
     
      <div class="icons">
      <mat-icon>person</mat-icon>
      
      <mat-icon matBadge={{cartLength}} (click)="go_cart()">shopping_cart</mat-icon>
      </div>
      
      
      </mat-card>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="filtering">
          <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Brand Image</th>
          <td mat-cell *matCellDef="let element" (click)="goPhone(element.urlPath)"> <img src={{element.thumbnail}} style="width: 100px;height: 100px;" alt=""> </td>
        </ng-container>
      
    
      
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Phone Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>
       <tr mat-header-row *matHeaderRowDef="rowInfo"></tr>
        <tr mat-row *matRowDef="let row; columns: rowInfo;"></tr>
      
       
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter </td>
        </tr>  
      </table>
      <c-carousel >
    
        <c-carousel-inner>
          <c-carousel-item *ngFor="let images of sliderImage">
            <img
            style="width: 100%;"
              [src]="images"
              alt=""
              class="d-block w-100"
              loading="lazy" />
          </c-carousel-item>
        </c-carousel-inner>
    
      </c-carousel>
  
  </mat-drawer-content>
  </mat-drawer-container>
  


 