<strong>One Plus</strong>
<div class="container-samsung" *ngIf="fetched">
    <div *ngFor="let iphone of onePlus" class="samsung">
    <mat-card >
    <img src={{iphone.thumbnail}} alt="" (click)="Navigator(iphone.urlPath)" >
    <mat-card-subtitle>{{iphone.name}}</mat-card-subtitle>
    <mat-card-subtitle>KES:{{priceChanger(iphone.price)}}</mat-card-subtitle> 
     <div *ngIf="iphone.specialPrice != null">
    <del>KES:{{iphone.specialPrice}}</del>
    <p style="color: red;font-weight: bolder;">
    {{discountCalc(iphone.price,iphone.specialPrice)}}% OFF
    </p>
     </div>
    <button mat-stroked-button style="color: green;border-color: green;" (click)="Save_To_Cart(iphone.urlPath)">Add to cart</button>
    <button mat-flat-button class="btn" (click)="cart(iphone.urlPath)">Buy Now</button>
    </mat-card>
    
    
    </div>
    
    
    </div>


    <div *ngIf="!fetched">
    <ngx-skeleton-loader/>
    </div>